

<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
					<h3>Hakkımızda</h3>
					<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..</p>
					 <div class="read">
						<a href="single.html" class="btn btn-primary read-m">Daha Fazla Detay</a>
					</div>
				</div>
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

				 @await Component.InvokeAsync("BlogLast3Post")
				</div>
				<!-- subscribe -->
				<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
					<h2>Mail Adresinizi Yazın , Son Yazılardan haberdar olun. </h2>
					<div class="subscribe-main text-left">
						<div class="subscribe-form">


							<form action="#" method="post" class="subscribe_form">

								 

                
								<input class="form-control" type="email" placeholder="Mail Adresiniz ..." required="">
							     
							
								 <a href="/NewLetter/Index" class="btn btn-primary read-m">Mail Adres Kaydet</a>


				
							</form>
							<div class="clearfix"> </div>
						</div>
					
					</div>
					<!-- //subscribe -->
				</div>
			</div>
			<!-- footer -->
			

			<!-- //footer -->


		</div>
	</footer>